header{
    background-color: #2C1841;
    user-select: none;
    font-family: Roboto, sans-serif;
}

#left{
    min-width: 220px;
}

#uppercC{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #eee;
    padding: 7px 15px;
}

#titleH{
    margin: 0;
    text-align: center;
    font-size: 3em;
    line-height: 0.9em;
    padding-top: 0.1em;
    font-weight: 900;
    letter-spacing: 2px;
    background: linear-gradient(135deg, #ff0000 15%, #86de03, #005ce0 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: -4px -4px 0 rgba(255, 255, 255, 0.87);
    animation-name: headanim;
    animation-delay: 5s;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#titleS{
    display: none;
    position: absolute;
    font-size: 0.8em;
    font-family: Consolas, monospace;
    margin: 0;
    text-align: center;
}

#titleH:hover #titleS{
    display: block;
}

#searchH{
    width: 50%;
}

#searchH input{
    position: relative;
    font-family: Consolas, monospace;
    width: 100%;
    height: 30px;
    top: calc(50% - 15px);
    font-size: 20px;
    outline: 0;
    border-radius: 2px;
    border: 0;
    padding: 0 7px;
}

#searchH::placeholder{
    opacity: .5;
    text-align: center;
}

.search-mainH{
    color: black;
    background-color: #eee;
}

input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

#rightH{
    display: flex;
    flex-direction: row;
    justify-content: right;
    vertical-align: center;
    align-items: center;
}

#rightH a{
    border: #ffec00 2px solid;
    height: min-content;
    margin: 5px;
    padding: 5px 10px 5px calc(1.5em + 10px);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out 0s;
    position: relative;
}
#rightH a:hover{
    background-color: #ffec00;
    color: black;
}

#rightH a:before{
    color: #ffec00;
    position: absolute;
    top: 5px;
    left: 10px;
    margin-right: 10px;
    font-weight: bold;
}

#LogInBut::before{
    content: '->|';
}

#RegBut::before{
    content: '...';
}

#LogOutBut::before{
    content: '|->';
}

#ProfBut::before{
    content: " ";
    display: inline-block;
    background-size: 1.2em;
    width: 1.2em;
    height: 1.2em;
}

#rightH a:hover::before{
    color: black;
}

#menuCont{
    background-color: #86de03;
}

#menuCont nav{
    width: max-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*border-right: 1px solid #2C1841;*/
    /*border-left: 1px solid #2C1841;*/
}
#menuCont nav a{
    display: block;
    padding: 5px 20px;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: 0.9em;
    flex-grow: 2;
    text-align: center;
    /*border-right: 1px solid #2C1841;*/
    /*border-left: 1px solid #2C1841;*/
    transition: background-color 0.2s ease-in-out 0s;
}

#menuCont nav a:hover{
    background-color: #2C1841;
    color: #eee;
}