*{
    box-sizing: border-box;
}

body{
    background-image: url("/res/img/grad.jpg");
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

label {
    display: block
}

form{
    position: absolute;
    top: calc(50% - 125px);
    left: calc(50% - 200px);
    width: 400px;
    height: 230px;
    background-color: white;
    border: #2C1841 5px solid;
    border-radius: 5px;
}
h2{
    text-align: center;
    font-family: Roboto, serif;
    font-size: 30px;
    margin: 10px;
    border-bottom: black 2px solid;
}

input{
    width: 100%;
    border: none;
    outline: none;
    padding:5px 10px;
    font-size: 18px;
    font-family: Consolas, monospace;
    margin: 5px auto;
}
input:empty{
    text-align: center;
}

input[type="submit"], input[type="button"]{
    position: absolute;
    bottom: 10px;
    width: 44%;
    height: 35px;
    font-weight: bold;
}

input[type="submit"]{
    left:3%;
}


input[type="button"]{
    left:53%;
    background-color: #86de03;
    font-size: 15px;
}

input[type="submit"]:hover, input[type="button"]:hover{
    background-color: #2C1841;
    color:white;
    cursor: pointer;
}

.errmess{
    font-family: 'Consolas', monospace;
    text-align: center;
    color: red;
    font-size: 0.8em;
    font-weight: bold;
}